body{
    background-color: #1a1a2e;
}

h1{
    color: ghostwhite;
}

table{
    text-align: center;
    margin: 0 auto;
}

.logo{
    height: 160px;
}


#taskbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

a{
    color: white;
    text-decoration:none ;

}

#taskbar a:hover {
    background-color: cadetblue;
    color: black;
}

#text {
    font-size: 4vw;
    font-family: 'Special Elite', cursive;
    color: white;
    margin-left: 14px;
}


#taskbar {
    background-color: #182341d3;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    margin-left: -8px;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
}

.welcome{
  color: white;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

.link a{
    padding: 30px;
}
.link a:hover{
    color: cadetblue;
}

hr.style-one {
    border: 0;
    margin-left: 32.5%;
    width: 35%;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

/* scroll down code */
* {    
    margin: 0;
    padding: 0;
}
body, html {
    height: 50%;           
}


section {
    padding-left: 1%;
    padding-top: 3%;
    min-height: 100%;
    font-weight: 200;
    color: #2a3039;
    z-index: 1;
    position: relative;
}
section h1 {
    font-size: 20px;
}

#Inspire {
    background: #343c47;
    color: #ffffff;
}
#Steps {
    background: #f5f8fb;
}
#Steps h1{
    color: black;
}
.dotnav-right {
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
    position: fixed;
}

.dotnav {
    padding: 0;
    list-style: none;
    font-size: 0.001px;
}

.dotnav > li {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
}
.dotnav > li:nth-child(n+2) {
    margin-left: 15px;
}

.dotnav > li > a {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid cadetblue;
    vertical-align: top;
    overflow: hidden;
    padding: 0;
    text-indent: -999%;
}
.dotnav > li > a:hover,
.dotnav > li > a:focus {
    background: cadetblue;
    outline: none;
}
.dotnav > li > a:active {
    background: cadetblue;
}
.dotnav > li.active > a {
    background: #66ccff;
}
.dotnav-vertical > li {
    display: block;
    margin-right:10px;
}
.dotnav-vertical > li:nth-child(n+2) {
    margin-left: 0;
    margin-top: 10px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #66ccff; 
    color: #fff; 
    border: 1px solid #66ccff; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #66ccff;
}

/* Footer */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

footer {
  font-family: Roboto;
}

section Foot {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}